body {
  font-family: 'Pacifico', cursive;
  width: 400px;
  height: 550px;
  padding: 20px;
  margin: 20px;
  background-color: #00BFFF;
  border: 1px solid blue;
  border-radius: 25px;
}

.header {
  color: #FFFFFF;
  text-align: left;
  font-size: 17px;
}

.header__secondary {
  color: white;
  font-size: 20px;
  text-align: left;
  font-family: 'Roboto', sans-serif;
}

.header_title {
  text-transform: uppercase;
}

.main {
  margin: 20px;
}

.main__container {
  color: #000;
}

.main__row {
  color: #000;
}

.round {
  width: 150px;
  height: 150px;
  border-width: 10px;
  border-style: outset;
  border-color: #000;
}

.footer {
  text-align: center;
}
